main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    box-sizing: border-box;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    margin: 1em;
}

.cardContent{
    outline: 1px solid black;
    padding: 1em;
    border-radius: .5em;
}